ESPN_LEAGUE_ID=#########
ESPN_TEAM_ID=#
ESPN_SEASON=####
ESPN_SWID=
ESPN_S2=
ESPN_POLL_SECONDS=2
OPENAI_API_KEY=
FANTASY_GM_FAVORITE_TEAM=DET
FANTASY_GM_FANDOM_WEIGHT=1.5
FANTASY_GM_CONTEXT_MODEL=gpt-5.6-luna
FANTASY_GM_DEEP_DIVE_MODEL=gpt-5.6-terra
FANTASY_GM_DEEP_DIVE_THRESHOLD=0.55
FANTASY_GM_MAX_DEEP_DIVES_PER_REFRESH=8